body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f9ece4;
    height: 100vh;
}

header {
    background: #A5CFCD;;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff9800;
}

main {
    padding: 20px;
}

#hero {
    text-align: center;
    padding: 5% 20px;
}

/* .hero-content {
    max-width: 600px;
    margin: 0 auto;
} */

/* #hero h1 {
    font-size: 3em;
    margin: 0;
} */

#hero p {
    font-size: 1.2em;
    margin: 20px 0 0;
}

#info {
    padding: 20px;
    text-align: center;
}

#info h2 {
    font-size: 2em;
    margin-bottom: 20px;
    /* color: #21C4d3;; */
    color: #A5CFCD;;
}

#info p {
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 90px;
    color: #C69491;;
}

footer {
    background: #A5CFCD;;
    color: white;
    text-align: center;
    padding:  0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
}


#preferences h1 {
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    color: #A5CFCD;;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 40%;
    color: #C69491;;
}

.form-group input[type="email"],
.form-group input[type="range"],
.form-group input[type="date"],
.form-group input[type="color"] {
    margin-left: 40%;
    width: 20%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: serif;
}

.form-group input[type="range"] {
    width: calc(24% - 40px);
    display: inline-block;
}

.form-group span {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 0.5em;
}

button {
    background-color: #A5CFCD;
    color: #fff;
    border: none;
    padding: 4px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 41.2%;
    margin-top: 4%;
}

button:hover {
    background-color: #D9Ecc7;
}

.hero-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2; 
}

.video-container iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
}
